@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --main-color: crimson;
    --text-dark: #000;
    --text-light: #fff;
    --dark-00: #000; 
    --dark-01: #111;
    --dark-02: #222;
    --light: lightgray;
    --lighter: #fff;
    --pane-padding: 5px 42px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* ************* */
/* Navbar design */
/* ************* */
.navbar {
    width: 100%;
    padding: 25px 0;
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 99;
}
.navbar.sticky{
    /* Classe que será inserida quando a tela rolar mais de 20px para baixo  */
    background: var(--main-color);
    padding: 10px 0;
}
.navbar.sticky .logo a span{
    color: var(--text-light);
}
.navbar.sticky .menu li a:hover{
    color: var(--dark-00);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: var(--text-light);
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: var(--main-color);
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: var(--text-light);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: var(--main-color);
}

/* **************** */
/* menu btn styling */
/* **************** */
.menu-btn{
    color: var(--text-light);
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 45px;
    background: var(--main-color);
    right: 30px;
    bottom: 20px;
    text-align: center;
    line-height: 45px;
    color: var(--text-light);
    z-index: 99;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 20px;
}

/* ******************* */
/* Home Section Design */
/* ******************* */
.home{
    display: flex;
    background: url("./img/bg.bmp") no-repeat center;
    height: 100vh;
    color: var(--text-light);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 20px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 0;
}
.home .home-content .text-3 span{
    color: var(--main-color);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-light);
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: var(--main-color);
    background: none;
}


/* ********************* */
/* Title of each section */
/* ********************* */
section .title{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    height: 3px;
    background: var(--dark-01);
}
section .title::after{
    position: absolute;
    bottom: -13px;
    padding: 5px;
    background: var(--lighter);
    font-size: 20px;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
}
.about .title::before{
    width: 197px;
}
.about .title::after{
    content: "quem sou eu?";
}

.services .title::before{
    width: 155px;
    background: var(--lighter);
}
.services .title::after{
    content: "entrego";
    background: var(--dark-01);
}

.skills .title::before{
    width: 220px;
}
.skills .title::after{
    content: "sou boa em:";
}

.team .title::before{
    width: 180px;
    background: var(--lighter);
}
.team .title::after{
    content: "minha equipe";
    background: var(--dark-01);
}

.contact .title::before{
    width: 153px;
}
.contact .title::after{
    content: "fale comigo";
}


/* ********************* */
/* About Section Styling */
/* ********************* */
section{
    padding: 100px 0;
}
.about,
.services,
.skills,
.team,
.contact,
footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .services-content,
.skills .skills-content,
.team .carousel,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text spam{
    color: var(--main-color);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: var(--main-color);
    color: var(--text-light);
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: var(--main-color);
    background: none;
}


/* ************************ */
/* services section styling */
/* ************************ */
.services,
.team {
    background: var(--dark-01);
    color: var(--text-light);
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover{
    transform: scale(1.05);
    background: var(--main-color);
}
.services .services-content .card{
    width: calc(33% - 30px);
    height: 440px;
    background: var(--dark-02);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    margin: 15px;
}
.services .services-content .card i{
    font-size: 50px;
    color: var(--main-color);
    transition: color 0.3s ease;
}
.services .services-content .card:hover i{
    color: var(--text-light);
}
.services .services-content .card .text{
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 30px 0;
}


/* ********************** */
/* skills section styling */
/* ********************** */
.skills .skills-content .colum{
    width: calc(50% - 30px);
    text-align: justify;
}
.skills .skills-content .left .text{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left a{
    color: var(--dark-01);
    display: inline-block;
    background: var(--main-color);
    color: var(--text-light);
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: var(--main-color);
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: var(--light);
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--main-color);
}
.skills .skills-content .right .info1::before{
    width: 75%;
}
.skills .skills-content .right .info2::before{
    width: 70%;
}
.skills .skills-content .right .info3::before{
    width: 70%;
}
.skills .skills-content .right .info4::before{
    width: 90%;
}
.skills .skills-content .right .info5::before{
    width: 50%;
}


/* ******************** */
/* team section styling */
/* ******************** */
.team p{
    text-align: center;
    margin-bottom: 20px;
}
.team .carousel .card{
    background: var(--dark-02);
    border-radius: 6px;
    padding: 20px 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.team .carousel .card:hover{
    background: var(--main-color);
}
.team .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    height: 440px;
}
.team .carousel .card:hover .box{
    transform: scale(1.05);
}
.team .carousel .card .box p{
    text-align: justify;
}
.team .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.team .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    transition: all 0.3s ease;
}
.team .carousel .card:hover img{
    border-color: var(--lighter);
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid var(--main-color)!important;
    transition: all 0.4s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: var(--main-color)!important;
}


/* *********************** */
/* contact section styling */
/* *********************** */
.contact .contact-content .colum{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 50px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: var(--main-color);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: var(--dark-02);
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
}
.contact .right form .name{
    margin-right: 5px;
}
.contact .right form .field input,
.contact .right form .field textarea{
    height: 100%;
    width: 100%;
    border: 1px solid var(--light);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea{
    height: 120px;
    width: 100%;
}
.contact .right form .textarea textarea{
    padding-top: 7px;
    resize: none;
}
.contact .right form .button{
    height: 45px;
    width: 100%;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    color: var(--text-light);
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: var(--main-color);
    background: none;
}


/* ************************ */
/* footer media query start */
/* ************************ */
footer{
    background: var(--dark-01);
    padding: 10px 15px;
    color: var(--text-light);
    text-align: center;
    font-size: 0.8rem;
}
footer span a{
    color: var(--main-color);
}
footer span a:hover{
    text-decoration: underline;
}


/* **************************** */
/* responsive media query start */
/* **************************** */

@media (max-width: 1125px) {
    .home .max-width{
        margin: auto 0;
    }
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 950px) {
    .max-width {
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 10;
    }
    .menu-btn i.active::before{
        content: '\f00d';
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--dark-01);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home{
        background: var(--dark-00);
    }
    .home .max-width{
        margin: auto 0;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 15px;
        padding: 10px 30px;
    }
    .about .about-content .colum{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .services-content .card{
        width: calc(45% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .colum,
    .contact .contact-content .colum{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 856px) {
    .about .about-content .left img{
        height: 320px;
        width: 90%;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 30px;
    }
    .home .home-content a{
        font-size: 15px;
        padding: 8px 20px;
    }
    .services .services-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .home .home-content a{
        font-size: 15px;
    }
}